
<!--
    @edit.ejs - 
    @author varun goud pulipalpula <s534848@nwmissouri.edu>

  --><br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Edit account </h2>

      <div class="content">
        <form method="POST" action="/account/save/<%= account._id %>">
          <div class="form-group" id=frm>
            <label for="_id">ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%= account._id %>" required disabled>
          </div>

          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs %>
          
          <input type="submit" value="Save" class="btn btn-primary" />
        </form>
<br>
        <form method="get" action="/account">
          <input type="submit" value="Go To account" class="btn btn-success" />
        </form>

      </div>
    </div>
  </div>
</div>