<!-- main - a row holds columns -->
<!--
    @partial_edit.ejs - 
    @author varun goud pulipalpula <s534848@nwmissouri.edu>
-->
<div class=row>

  <div class="col col-md-4 form-group">
    <br><strong> Account Number: </strong>
    <input type="text" class="form-control" id="accountnumber" name="accountnumber" value="<%= account.accountnumber %>">
  </div>
  <div class="col col-md-1  "></div>

  <div class="col col-md-4  form-group">
    <br><strong> Account Name: </strong>
    <input type="text" class="form-control" id="accountName" name="accountName" value="<%= account.accountName %>">
  </div>



</div>

<div class=row>

  <div class="col col-md-4 form-group">
    <br>
    <strong> User Id: </strong>
    <input type="text" class="form-control" id="userId" name="userId" value="<%= account.userId %>">
  </div>
  <div class="col col-md-1  "></div>

  <div class="col col-md-4  form-group">
    <br><strong> Transaction Id: </strong>
    <input type="text" class="form-control" id="transactionId" name="transactionId" value="<%= account.transactionId %>">
  </div>



</div>