<!-- main - a row holds columns -->
<!--
    @partial_edit.ejs - 
     @author Midhun Kandakatla <s534637@nwmissouri.edu>
-->
<div class=row>

  <div class="col col-md-4 form-group">
    <br><strong> Account Number:</strong>
    <input type="text" class="form-control" id="accountnumber" name="accountnumber" value="<%= category.accountnumber %>">
  </div>

  <div class="col col-md-1" ></div>

  <div class="col col-md-4  form-group">
    <br><strong> Account Name:</strong>
    <input type="text" class="form-control" id="accountname" name="accountname" value="<%= category.accountname %>">
  </div>

 

</div>

<div class=row>

  <div class="col col-md-4 form-group">
    <br>
    <strong> Credit Cardit Number:</strong>
    <input type="text" class="form-control" id="creditcardnumber" name="creditcardnumber" value="<%= category.creditcardnumber %>">
  </div>

  <div class="col col-md-1" ></div>

  <div class="col col-md-4  form-group">
    <br><strong> Debit Cardit Number:</strong>
    <input type="text" class="form-control" id="debitcardnumber" name="debitcardnumber" value="<%= category.debitcardnumber %>">
  </div>


</div>

<div class=row>

  <div class="col col-md-4 form-group">
    <br><strong> Account Type:</strong>
    <input type="text" class="form-control" id="accounttype" name="accounttype" value="<%= category.accounttype %>">
  </div>

  <div class="col col-md-1" ></div>

  <div class="col col-md-4  form-group">
    <br> <strong> user Id:</strong>
    <input type="text" class="form-control" id="userId" name="userId" value="<%= category.userId %>">
  </div>

</div>