<!--
    @delete.ejs - 
    @author Ravi Kumar Atluri <s534734@nwmissouri.edu>
-->
<br>
<br>
<div class="container-fluid">
  <h2>User details</h2>
  <div class=row>
    <div class="col col-md-6">

      <br><strong> Account Number:</strong>
      <%=  user.accountNumber %>
    </div>
    <div class="col col-md-6">
      <br> <img src="https://img.icons8.com/dotty/40/000000/google-mobile.png">
      <%=user.contact%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Name: </strong>
      <%=user.family%>,
      <%=user.firstname%>
    </div>
    <div class="col col-md-6">
      <br> <img src="https://img.icons8.com/dotty/40/000000/new-post.png"> -
      <%=user.email%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-12">
      <br> <strong> Address: </strong>
      <%=user.street1%>,
      <%=user.street2%>,
      <%=user.state%>,
      <%=user.country%>,
      <%=user.zip%>
    </div>
  </div>
  <br>
  <div class=row>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <form method="get" action="/user">
        <input type="submit" value="Go to User" class="btn btn-success" />
      </form>
    </div>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <form method="POST" action="/user/delete/<%= user._id %>">
        <input type="submit" value="Confirm Delete" class="btn btn-warning" />
      </form>
    </div>
  <div class="col col-md-2"></div>
</div>
</div>