<!-- main - a row holds columns -->
<!--
    @partial_edit.ejs - 
    @author Ravi Kumar Atluri <s534734@nwmissouri.edu>
-->
<div class=row>

  <div class="col col-md-3 form-group">
    <br><strong> Account Number:</strong>
    <input type="text" class="form-control" id="accountNumber" name="accountNumber" value="<%= user.accountNumber %>">
  </div>

  <div class="col col-md-3  form-group">
    <br><strong> Phone Number:</strong>
    <input type="text" class="form-control" id="contact" name="contact" value="<%= user.contact %>">
  </div>

  <div class="col col-md-3 form-group">
    <br><strong> Email:</strong>
    <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>">
  </div>

</div>

<div class=row>

  <div class="col col-md-3 form-group">
    <br>
    <strong> Family:</strong>
    <input type="text" class="form-control" id="family" name="family" value="<%= user.family %>">
  </div>

  <div class="col col-md-3  form-group">
    <br><strong> First Name:</strong>
    <input type="text" class="form-control" id="firstname" name="firstname" value="<%= user.firstname %>">
  </div>

  <div class="col col-md-3 form-group">
    <br><strong> Country:</strong>
    <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>">
  </div>

</div>

<div class=row>

  <div class="col col-md-2 form-group">
    <br><strong> Street 1:</strong>
    <input type="text" class="form-control" id="street1" name="street1" value="<%= user.street1 %>">
  </div>

  <div class="col col-md-2  form-group">
    <br> <strong> Street 2:</strong>
    <input type="text" class="form-control" id="street2" name="street2" value="<%= user.street2 %>">
  </div>

  <div class="col col-md-2 form-group">
    <br><strong> State:</strong>
    <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>">
  </div>

  <div class="col col-md-2 form-group">
    <br><strong> Zipcode:</strong>
    <input type="text" class="form-control" id="zip" name="zip" value="<%= user.zip %>">
  </div>

</div>