<!--
    @details.ejs - 
    @author Bala Gopi Krishna Sabbineni <s534801@nwmissouri.edu>
-->
<br>
<br>
<div class="container-fluid">
  <h2>transaction details</h2>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Account Number:</strong>
      <%=  transaction.transactionId %>
    </div>
    <div class="col col-md-6">
      <br><strong> Transaction Date:</strong>
      <%=transaction.transactiondate%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Transaction Ammount: </strong>
      <%=transaction.transactionamount%>
    </div>
    <div class="col col-md-6">
      <br><strong> User Id: </strong>
      <%=transaction.userId%>
    </div>
  </div>
  <br>

</div>