<!--
    @index.ejs - 
    @author Bala Gopi Krishna Sabbineni <s534801@nwmissouri.edu>
-->

<div class="container-fluid">
  <h2>transaction details</h2>
  <h6>Total Number of Records: <%= transactions.length %></h6>
  <br>
  <hr>
  <% for (var i = transactions.length-1; i >= 0; i--) {   
    transaction = transactions[i];   %>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Account Number:</strong>
      <%=  transaction.transactionId %>
    </div>
    <div class="col col-md-6">
      <br><strong> Transaction Date:</strong>
      <%=transaction.transactiondate%>
    </div>
  </div>
  <div class=row>
    <div class="col col-md-6">
      <br><strong> Transaction Ammount: </strong>
      <%=transaction.transactionamount%>
    </div>
    <div class="col col-md-6">
      <br><strong> User Id: </strong>
      <%=transaction.userId%>
    </div>
  </div>
  <br>

  <br>
  <hr>
  <br>
  <% } %>
  <br>
  <div class=row>
    <div class="col col-md-2"></div>
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <a href="/transaction" class="btn btn-success">Go to transaction</a>
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>